<div class="section">
  <div class="sign-up">
    <div class="signupHeader" <h2>Signup</h2>
    </div>
    <div class="sign-login">
      <form action="/signup" method="POST" id="form-container">
        <div class="signupTitles">
          <input type="text" name="username" class="question" id="nme" required autocomplete="off" />
          <label for="username"><span>Username</span></label>
        </div>

        {{!-- <label for="username">Username</label>
            <input id="username" type="text" name="username" placeholder="Your username"> --}}

        <div class="signupTitles">
          <input type="password" name="password" class="question" id="nme" required autocomplete="off" />
          <label for="password"><span>Password</span></label>
        </div>

        {{!--             <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Your password"> --}}

        {{#if message}}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <div id="signupButton">
          <button> Create your raks account</button>
        </div>

        <div id="signupExisting">
          <p class="account-message">
            Already using raks?
            <a href="/login">Login</a>
          </p>
        </div>

      </form>
    </div>
  </div>
  <div>