<h2>Create new rak</h2>

<div class="rakCreation">
  <h2>Create a rak</h2>
  <form action='/rak/create' method="post">
    <input type="text" placeholder="rak name" name='name'>
    <input type="text" placeholder="rak description" name='description'>
    <button class="rakCreation" type="submit">Add your favorite movies</button>
  </form>
</div>