<p>You are now in the edit rak hbs</p>


<div class="rakContents">
  {{movie}}
  {{#each movie}}
  <h1>{{this.title}}</h1>
  <h3>{{this.overview}}</h3>
  <img src="https://image.tmdb.org/t/p/w1280{{poster_path}}" alt="">
  {{/each}}