<h2>{{user.username}}'s rak-room</h2>

{{#if user}}
<img{{data}}>
  <div>
    <ul>Your raks:
      <li>item</li>
    </ul>
    <button id="editRak" type="submit">edit</button>
  </div>
  {{/if}}
  <button id="goToSearch" type="submit">Search Page</button>