<h2>{{user.username}}'s rak-room</h2>

{{#if user}}
<div class="idcon">
  {{renderId}}
</div>
<div>
  {{#each collections}}
  <div class="profileRak">
    <p>a rak</p>
  </div>{{/each}}
  <button id="editRak" type="submit">edit</button>
  <form action="/edit">
    <button id="newRak" type="submit">new rak</button>
  </form>
  <form action="/search/{{this.moviecollections}}" method="GET">
    <button id="goToSearch" type="submit">Search Page</button>
  </form>
</div>
{{/if}}