<h2>Create a rak</h2>
<input type="text" placeholder="and give it a name" name='rakName'>
<button type="submit">+</button>

<form method="post">
  <input type="text" placeholder="I'm interested in..." name='search'>
  <input type="checkbox" id="movies" name="movies">
  <label for="movies">Movies</label>
  <button class="itemSearch" type="submit">Search</button>
  <button class="addItem" type="submit">Add to rak</button>
  <h3>Your rak</h3>
  <ul class="cart">
    <li>item</li>
  </ul>
  <button class="addRak" type="submit">save rak</button>

</form>